.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.flex-cell {
  flex: 1;
  padding: 5px;
}

.flex-cell:first-child {
  flex: 0 0 100px;
}

.vertical-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  margin-right: 5px;
}

.flex-row:last-child {
  border-bottom: none;
}

.flex-cell:last-child {
  display: flex;
  justify-content: flex-end;
}

#base-container {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  align-items: center;
}

#container {
  height: auto;
  width: 70%;
  display: table;
}

#list {
  width: 70%;
}

.vertical-dots .dot {
  width: 3px;
  height: 3px;
  background-color: #d6c0c0;
  border-radius: 50%;
  margin: 1px 0;
}

.check-mark {
  display: none;
  color: green;
  cursor: pointer;
}

.check-btn {
  padding: 8px;
  cursor: pointer;
}

.table-row {
  display: table-row;
  border-collapse: collapse;
}

.table-cell {
  display: table-cell;
}

.fa-recycle {
  color: #d6c0c0;
}

.form-input {
  align-items: center;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  width: 70vw;
  outline: none;
  padding: 1rem;
}

.from_Input:active {
  border: none;
  outline: none;
}

.footer-to-do {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  color: #a3a3a3;
  background-color: #f6f6f6;
}

.hidden {
  display: none;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  background-color: #ffff1a57;
}
